body{
    background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(106, 38, 70, 0.9668242296918768) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.main-1{
    display:flex;
    justify-content: space-around;
    margin-top:30px;
}
.main-1 div{
    box-shadow: 5px 5px 15px rgb(3, 3, 3);
}
.main-2 div{
    box-shadow: 5px 5px 15px rgb(3, 3, 3);
}

.main-2{
    display:flex;
    justify-content:space-between;
    padding : 55px;

}
.nav-link{
    color:wheat;
    font-weight:500;
    font-size: 20px;
    transition:.3s;
}
.nav-link:hover{
    color:black;
    font-size:25px;
    box-sizing: border-box;
    background-color: aquamarine;
    border-radius: 4px;
}


