body{
    background: rgb(201,86,110);
background: linear-gradient(90deg, rgba(201,86,110,1) 37%, rgba(59,35,215,0.896796218487395) 71%);
}
.main{
    width:800px;
    height:450px;
    border:2px solid rgb(25, 25, 25);
    padding : 20px;
    border-radius: 5px;
    margin:0 auto;
    margin-top: 20px;
    box-shadow: 5px 5px 15px black;
}

p{
    padding : 3px;
    margin-top: 5px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link{
    color:wheat;
    font-weight:500;
    font-size: 20px;
    transition:.3s;
}
.nav-link:hover{
    color:black;
    font-size:25px;
    box-sizing: border-box;
    background-color: aquamarine;
    border-radius: 4px;
}